{% extends 'security/template.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block description %}
    Veuillez remplire les champs suivant pour vous connecter sur le site
{% endblock %}

{% block form %}
    <form method="post">
        <div class="form-group">
            <label for="inputUsername" class="required">Pseudo</label>
            <input type="text" id="inputUsername" value="{{ last_username }}" name="_username" maxlength="32" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="required">Mot de passe</label>
            <input type="password" id="inputPassword" name="_password" class="form-control" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-success" type="submit">Se connecter</button>
        <a class="btn btn-lg btn-primary" href="{{ path('register') }}">S'enregistrer</a>
    </form>
{% endblock %}
