{% extends 'base.html.twig' %}
{% import "macro/figure.html.twig" as figure %}

{% block title %}S'enregistrer{% endblock %}

{% block wallpaper %}
    <div id="wallpaper">
        <img src="{{ asset('image/snowboard-wallpaper.jpg') }}">
        <div class="wallpaper_body">
            <h2>Bienvenue sur la communauté SnowTricks</h2>
        </div>
        <a href="#content"><i class="arrow_down fas fa-angle-down"></i></a>
    </div>
{% endblock %}

{% block body %}
    <a href="#tricks" id="arrow_up" style="display: none">
        <i class="fas fa-angle-up"></i>
    </a>
    <div id="tricks" class="row">
        {% for figure in figures %}
            {{ figure.show(figure) }}
        {% endfor %}
    </div>
{% endblock %}