{% extends 'base.html.twig' %}
{% import "macro/trick.html.twig" as figure_card %}

{% block title %}Accueil{% endblock %}

{% block wallpaper %}
    <div id="wallpaper">
        <img src="{{ asset('image/snowboard-wallpaper.jpg') }}">
        <div class="wallpaper_body">
            <h2>Bienvenue sur la communauté SnowTricks</h2>
        </div>
        <a href="#content"><i class="arrow_down fas fa-angle-down"></i></a>
    </div>
{% endblock %}

{% block body %}
    <a href="#tricks" id="arrow_up" style="display: none">
        <i class="fas fa-angle-up"></i>
    </a>
    {% if app.user %}
        <a class="button_new" href="{{ path('trick.new') }}">
            <i class="fas fa-plus"></i>
            <span>Ajouter une trick</span>
        </a>
    {% endif %}
    <div id="tricks" class="row">
        {% for trick in tricks %}
            {{ figure_card.show(trick) }}
        {% endfor %}
    </div>
{% endblock %}