<h1>SnowTricks</h1>

<p>Bonjour {{ user.username }},</p>

<p>
    Vous venez de créer un compte sur notre site.<br>
    <a href="{{ url }}" target="_blank">Nous vous inviton à cliquez ici pour activer votre compte</a>
</p>

<p>
    Cordialement,<br>
    l'équipe de <a href="{{ url }}" target="_blank">SnowTricks</a>
</p>
