<h1>SnowTricks</h1>
<p>
    Bonjour {{ user.username }}, vous venez de créer un compte sur notre site.<br>
    <a href="{{ url }}" target="_blank">Nous vous inviton à cliquez ici pour activer votre compte</a>
</p>