<h1>SnowTricks</h1>

<p>Bonjour {{ user.username }},</p>

<p>
    Suite à votre demande de récupération de mot de passe veillez
    <a href="{{ url }}" target="_blank"> clickez ici </a><br>
    pour changer pour accéder au formulaire de récupération<br>
</p>

<p>
    Cordialement,<br>
    l'équipe de <a href="{{ url }}" target="_blank">SnowTricks</a>
</p>
