{% macro show(figure) %}
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 tricks_card">
        <img src="{{ asset('image/snowboard-wallpaper.jpg') }}">
        <div class="align-items-center d-flex justify-content-around pt-2 tricks_card_body">
            <h5 class="text-center">{{ figure.name }}</h5>
            {% if app.user %}
                <a class="edit" href="{{ path('figure.edit', {'id': figure.id}) }}"><i class="fas fa-edit"></i></a>
                <form
                    method="post"
                    action="{{ path('figure.delete', {'id': figure.id}) }}"
                    swa-title="Êtes vous sur ?"
                    swa-text="Après validation il est impossible de revenire en arrière"
                >
                    <button class="fas fa-trash-alt delete swa-confirm"></button>
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            {% endif %}
        </div>
    </div>
{% endmacro %}