{% macro image(media) %}
    <div class="media_item">
        <img class="" src="{{ asset_media ~ media.name) }}">
        <i action="{{ path('media.delete', {'id': media.id}) }}" itemid="{{ media.id }}" class="fas fa-trash-alt delete"></i>
    </div>
{% endmacro %}